<div class="bigger-container">
  {{#if users.length}} 
    <h1>Usuários cadastrados: </h1>
  {{else}}
    <h1>Sem usuários cadastrados</h1>
  {{/if}}
  <div class="list-container">

    {{#each users}}
      <div class="item">
        <h4>{{this.name}}</h4>
        <div class="buttons">
          <a href="/users/{{this.id}}" class="details-btn">
            <i class="bi bi-eye"></i>
          </a>
          <form action="/users/delete/{{this.id}}" method="POST">
            <button class="remove-btn" type="submit">
              <i class="bi bi-trash"></i>
            </button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>